Sets and Dictionary

In [1]:
s=set()
type(s)

set

In [2]:
s={1,2,3}
s

{1, 2, 3}

In [3]:
s.add(4)
s

{1, 2, 3, 4}

In [4]:
#create a list with repeated element
m=[1,2,2,3,3,4,5,6,7]
s=set(m)
s

{1, 2, 3, 4, 5, 6, 7}

In [5]:
info={"Carla", 19, 20, False, 5.9, 19}
print(info)

{False, 'Carla', 19, 20, 5.9}

In [6]:
#use update()method
cities={"Pathankot","Mohalli","Dharampur","Shimla"}
cities2={"Shimla","Solan","Kasouli","Mohalli"}
cities.update(cities2)
print(cities)

{'Dharampur', 'Mohalli', 'Kasouli', 'Pathankot', 'Shimla', 'Solan'}

In [7]:
#union mehod to return a set
a=cities.union(cities2)
print(a)

{'Dharampur', 'Mohalli', 'Kasouli', 'Pathankot', 'Shimla', 'Solan'}

In [8]:
#Intersection
cities={"Pathankot","Mohalli","Dharampur","Shimla"}
cities2={"Shimla","Solan","Kasouli","Mohalli"}
a=cities.intersection(cities2)
print(a)

{'Mohalli', 'Shimla'}

In [9]:
#intersection_update
cities.intersection_update(cities2)
print(cities)

{'Mohalli', 'Shimla'}

In [10]:
#Symmetric_difference
cities={"Pathankot","Mohalli","Dharampur","Shimla"}
cities2={"Shimla","Solan","Kasouli","Mohalli"}
a=cities.symmetric_difference(cities2)
print(a)

{'Dharampur', 'Kasouli', 'Pathankot', 'Solan'}

In [11]:
#Symmetric_difference_ update
cities.symmetric_difference_update(cities2)
print(cities)

{'Dharampur', 'Kasouli', 'Pathankot', 'Solan'}

In [12]:
#difference
cities={"Pathankot","Mohalli","Dharampur","Shimla"}
cities2={"Shimla","Solan","Kasouli","Mohalli"}
a=cities.difference(cities2)
print(a)

{'Dharampur', 'Pathankot'}

In [13]:
#difference_Update
cities.difference_update(cities2)
print(cities)

{'Pathankot', 'Dharampur'}

In [14]:
#Remove
cities={"Pathankot","Mohalli","Dharampur","Shimla"}
cities.discard("Mohalli") 
cities.remove("Dharampur")
print(cities)

{'Shimla', 'Pathankot'}

In [15]:
#Check the particular item is present in another set
cities={"Pathankot","Dharampur"}
cities2={"Shimla","Solan","Kasouli","Mohalli"}
print(cities.isdisjoint(cities2))

True

In [16]:
cities={"Pathankot","Dharampur"}
cities2={"Shimla","Solan","Kasouli","Mohalli"}
print(cities.issubset(cities2))

False

In [17]:
#Dictionary
d=dict()
type(d)
d

{}

In [18]:
dict={'key':'value1','key2':'value2'}
dict

{'key': 'value1', 'key2': 'value2'}

In [19]:
#Flexible
dict={'key':'value1',
      'key2':'value2'}
dict

{'key': 'value1', 'key2': 'value2'}

In [20]:
#Accessing value
info={'name':'Rohit','age':'21','elgible':'True'}
print(info['name'])
print(info.get('age'))

Rohit
21

In [21]:
#Print all the value of the dict
print(info.values())

dict_values(['Rohit', '21', 'True'])

In [22]:
#print all the key-value pairs in the dict using items
print(info.items())

dict_items([('name', 'Rohit'), ('age', '21'), ('elgible', 'True')])

In [23]:
#create a new key and assign a value
info.update({'age':21})
info.update({'Dob':7})
print(info)

{'name': 'Rohit', 'age': 21, 'elgible': 'True', 'Dob': 7}

In [24]:
#del keyword to delete
del info['age']
print(info)

{'name': 'Rohit', 'elgible': 'True', 'Dob': 7}

In [25]:
#Copy Method to copy the contents of one dictionary
new=info.copy()
print(new)

{'name': 'Rohit', 'elgible': 'True', 'Dob': 7}

In [26]:
info={'name':['Karan','Suraj'],'age':[19,20],'eligible':True}
info['name'][1].upper()

'SURAJ'

In [27]:
info['age']= 3
info

{'name': ['Karan', 'Suraj'], 'age': 3, 'eligible': True}

In [28]:
#Create DIctionary with duplicate key
d1={"1":1,"1":2}
print(d1)
print(d1["1"])

{'1': 2}
2

In [29]:
#nesting with Dicitionaries
d={'key1':{'nestkey':{'subnestkey':'value'}}}
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [30]:
#keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

In [31]:
d2={"Rishabh":{"age":21,"hometown":"shimla"},
   "Taarun":{"age":24,"hometown":"kullu"}}
d2["Taarun"]["age"]

24

In [32]:
a={"python course":{"Language":"Python","Duration":5,"Batch_size":40},
  "Data Science":{"Duration":4,"Batch_size":30},
  "Cyber security":{"Duration":3,"Batch_size":20}}
print(a["python course"])

{'Language': 'Python', 'Duration': 5, 'Batch_size': 40}

#

In [33]:
#boolean and none type 
a =True
type(a)

bool

In [34]:
b=None
type(b)

NoneType

In [35]:
2==2

True

In [36]:
'hi'=='HI'

False

In [37]:
9<=10

True

In [38]:
10>=23

False

In [39]:
2<=2

True

In [40]:
3<+1

False

In [41]:
1<2<3

True

In [42]:
1<2 and 2<3

True

In [43]:
1<2 and 2>3

False

In [44]:
1<3>2

True

In [45]:
1<3 and 3>2

True

In [46]:
1==2 or 2<3

True

In [47]:
1==1 or 100==1

True

In [48]:
x=False
not x

True

In [49]:
#user input
x=int(input("Enter any number:"))
y=int(input("Enter any number:"))
sum=x+y
Mul=x*y
Div=x/y
Sub=x-4
print(sum)
print(Mul)
print(Div)
print(Sub)

Enter any number:11
Enter any number:12
23
132
0.9166666666666666
7

In [50]:
type(x)

int

In [51]:
q=input("Enter any thing ")

Enter any thing

In [52]:
type(q)

str

In [53]:
a=20
b=30
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
print(c,d,e,f,g)

50 -10 600 0.6666666666666666 0

In [54]:
#square root
a**0.5

4.47213595499958

In [55]:

import math
a=20
g=math.sqrt(a)
g

4.47213595499958