Class 1 (String)

In [1]:
print("welcome to python")

welcome to python

In [2]:
if 4>2:
    print("4 is greater than 2")

4 is greater than 2

In [7]:
if 4 > 2 :
    print("4 is greater than 2")

4 is greater than 2

In [8]:
#welcome to cdac

In [9]:
'''welcome '''

'welcome '

In [10]:
1

1

In [11]:
student="Rohit"

In [12]:
student

'Rohit'

In [13]:
s1student="Rohit"

In [14]:
s1student

'Rohit'

In [15]:
num_of_schools=10

In [16]:
numSchool=10

In [17]:
School_Number=10

1.Create a variable

In [18]:
coursename="Data Science With Python"

In [19]:
coursename

'Data Science With Python'

In [20]:
x=20

In [21]:
x

20

In [22]:
x=5
y=10
x+y

15

In [23]:
z=x+y

In [24]:
z

15

In [25]:
#Question no.5
list="Python with Data Science"

In [26]:
a="Double Quotes"

In [27]:
type(a)

str

In [28]:
b='single Quotes'

In [29]:
type(b)

str

In [30]:
c = 1

In [31]:
type(c)

int

In [32]:
d=1.4

In [33]:
type(d)

float

In [34]:
a

'Double Quotes'

In [35]:
len(a)

13

In [36]:
a[0]

'D'

In [37]:
a[-1]

's'

In [38]:
a[12]

's'

In [39]:
a[6]

' '

In [40]:
a[1:6]

'ouble'

In [41]:
a[1:6]

'ouble'

In [42]:
b=a.upper()

In [43]:
b

'DOUBLE QUOTES'

In [44]:
a.replace("d","b")

'Double Quotes'

In [45]:
a[1].replace("o","a")

'a'

In [46]:
a[9:]

'otes'

In [47]:
a[:9]

'Double Qu'

In [48]:
a[:-9]

'Doub'

15 Words
len method to print the length
first character of the string txt
character index 2 to index 4
slice word 8 and 12
convert the value of str in lowercase
replace the character
insert the word placeholder

In [49]:
Day 2

SyntaxError: invalid syntax (<ipython-input-49-e58e1382baaf>, line 1)

In [50]:
a="Double Quotes"

In [51]:
a[0]='x'

TypeError: 'str' object does not support item assignment

In [ ]:

a + 'add me'

In [52]:
#Multipilcation to create replication
p = 'hello'
p*5

'hellohellohellohellohello'

In [53]:
#split a string
a.split()

['Double', 'Quotes']

In [54]:
#split a strimg by a specific element
a.split('q')

['Double Quotes']

In [55]:
#Formatting with placeholder
print("i'm going to add %s here."%'something')

i'm going to add something here.

In [56]:
#pass variable name
x,y='some','more'
print("I'm going to add %s text here, and %s text here."%(x,y))

I'm going to add some text here, and more text here.

In [57]:
#.dot format Method
print('the {2} {1} {0} moon'.format('over','jumped','cow'))

the cow jumped over moon

In [58]:
#inserted object can be assigned keyword
age = 21
name = 'Rohit'
print('My name is {one}, and my age is: {two}'.format(one=name,two=age))

My name is Rohit, and my age is: 21

In [59]:
name ='Rohit'
print(f"He said his name is {name}.")

He said his name is Rohit.