#Python Conditional Statement 
if statement
if else statement 
else if statement
nested if statement
nested else if statement

In [1]:
#execute the block of code 
if True:
    print('It was true')

It was true

In [2]:
if 1>2:
    print('yep')
else:
   print("false")

false

In [3]:
if 1<2:
    print('yeppy')

yeppy

In [5]:
loc=input("enter the data :")
if loc==("mohali"):
    print("true")

enter the data :mohali
true

In [6]:
age=int(input("Enter the age :"))
if age==18:
    print("You are eligible")
else:
    print("you are not eligible")

Enter the age :12
you are not eligible

In [7]:
if 1<2:
    print('first')
else: 
    print('last')

first

In [8]:
if 2<1:
    print('first')
else: 
    print('last')

last

In [9]:
loc=input("enter the location :")
if loc==("mohali"):
    print("true")
else:
    print("False")

enter the location :chandigarh
False

In [10]:
age=int(input("Enter the age :"))
if age==18:
    print("You are eligible")
else:
    print("You are not eligible")

Enter the age :11
You are not eligible

In [11]:
age=int(input("Enter the age :"))
if age<=18:
    print("You are eligible")
if age==18:
    print("You  eligible")
else:
    print("You are not eligible")

Enter the age :11
You are eligible
You are not eligible

In [12]:
if 1 ==2:
    print('First')
elif 3==3:
    print('middle')
else:
    print('last')

middle

In [13]:
loc=input("Enter the location :")
if loc==("mohali"):
    print("Mohali")
elif loc==("Shimla"):  
    print("Shimla")
else:
    print("You are in classroom")

Enter the location :Shimla
Shimla

In [14]:
a=int(input("Enter the number :"))
if a<0:
    print("negative")
elif a>0:
    print("positive")
else:
    print("zero")

Enter the number :33
positive

In [15]:
num=3
if (num<0):
    print("Number is neagtive")
elif(num>0):
    if(num<=10):
        print("Number is between 1-10")
    elif(num>10 and num<=20):
        print("Number is between 11-20")
    else:
        print("Number is greater than 20")
else:
    print("number is Zero")

Number is between 1-10

In [16]:
num=int(input("Enter the age "))
if (num<18):
    print("You are not eligible")
elif num>=18:
     print("You are eligible")
else:
    print("none")

Enter the age 22
You are eligible

In [17]:
num=int(input("Enter the age "))
if num>=18:
    print("You are eligible")
else:
    print("You are not eligible")

Enter the age 22
You are eligible

In [18]:
17%5

2

In [19]:
10%2

0

In [20]:
4%2

0

In [21]:
num=int(input("Enter the number: "))
if num<0:
        if num%2<=0:
            print("NUmber is even and negative")
        else:
            print("Number is odd and Negative")
elif num%2==0:
    print("number is positive and even")
            
else:
    print("NUmber is positive and odd")

Enter the number: 11
NUmber is positive and odd

#Looping

In [22]:
#List of sequence (For Loop)
Seq=[1,2,3,4,5]
for i in Seq:
    print(i)

1
2
3
4
5

In [23]:
for i in Seq:
    print('yep')

yep
yep
yep
yep
yep

In [24]:
name="Wlecome to Punjab"
for i in name:
    print(i)

W
l
e
c
o
m
e

t
o

P
u
n
j
a
b

In [26]:
a=(input("enter any number"))
for   i in a:
    print(i)

enter any number12
1
2

In [27]:
color=("red","green","blue","yellow")
for x in color:
       print(x)

red
green
blue
yellow

In [28]:
list2=[(2,4),(6,8),(10,12)]
for i in list2:
    print(i)

(2, 4)
(6, 8)
(10, 12)

In [29]:
for(t1,t2) in list2:
    print(t1)
    print(t2)

2
4
6
8
10
12

In [30]:
#print only the even number
m={1,4,12,7,10,6,3}

for i in m:
        if i%2==0:
            print(i)

4
6
10
12

In [31]:
#print only the odd number
a=[1,4,5,7,10,6,3,11,12,17]
for i in a:
    if i%2!=0:
        print(i)

1
5
7
3
11
17

In [32]:
s=0
m=[1,4,12,7,10,6,3]
for i in m:
    s = s + i
    print(s)

1
5
17
24
34
40
43

In [33]:
d={'k1':1,'k2':2,'k3':3}
for k in d.items():
    print(k)

('k1', 1)
('k2', 2)
('k3', 3)

In [34]:
c=5
while(c>0):
    print(c)
    c=c-1

5
4
3
2
1

In [35]:
x =int(input("Enter any number "))
while(x>0):
    print(x)
    x-=1
else:
    print("You are at 0")

Enter any number 11
11
10
9
8
7
6
5
4
3
2
1
You are at 0

In [36]:
i=1
while i<5:
    print(f'i is: {i}')
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [37]:
i=1
while(i<=3):
    for k in range(1,4):
        print(i*k)
    i=i+1
    print()

1
2
3

2
4
6

3
6
9

In [38]:

for k in range(1,4):
    i=1
    
    while(i<=3):
    
        print(i*k)
        i=i+1
        print()

1

2

3

2

4

6

3

6

9

In [39]:

for k in range(1,4):
    i=1
    while(i<=3):
        print(i*k)
        i=i+1
        print()

1

2

3

2

4

6

3

6

9

In [40]:
#Range
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
#RAnge with third parameter
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [42]:
#Create a list 0to 100 by skipping 10
list(range(0,100,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [43]:
for k in range(4,8):
    print(k)

4
5
6
7

In [44]:
#Enumerate
i=0
for letter in 'abcde':
    print(f"At index {i} the letter is {letter}")
    i+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [45]:
#tuple unpacking
for i,letter in enumerate('abcde'):
    print("at index {} the letter is {}".format(i,letter))

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [46]:
i=0
b='Eat','sleep','letter'
for i,letter in enumerate(b):
    print("at index {} the letter is {}".format(i,letter))

at index 0 the letter is Eat
at index 1 the letter is sleep
at index 2 the letter is letter

In [47]:
#Zip Function
m=[1,2,3,4,5]
n=['a','b','c','d','e']
list(zip(m,n))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [48]:
for i1, i2 in zip(m,n):
    print(f'for this tuple, first time was {i1} and second item was {12}' )

for this tuple, first time was 1 and second item was 12
for this tuple, first time was 2 and second item was 12
for this tuple, first time was 3 and second item was 12
for this tuple, first time was 4 and second item was 12
for this tuple, first time was 5 and second item was 12

In [49]:
#NOt in Operator

x not in [1,2,3]

True

In [50]:
a=(10,20,30,40,50)
pow(4,3)

64

In [51]:
max(a)

50

In [52]:
min(a)

10

In [53]:
sum(a)

150