Function

In [1]:
#using return
def add_num(num1,num2):
    return num1+num2
add_num(4,5)

9

In [2]:
#concetenation
add_num('one','two')

'onetwo'

In [3]:

def even_check(number):
    return number%2==0
even_check(20)

True

In [4]:
#Check if any number in a list is even 
def even_list(num_list):
    
#go through each number

    for number in num_list:
        if number%2==0: 
            return True
        else:
            pass
    return False
even_list([1,2,3])

True

In [5]:
#Retrun all number in a list or print empty list
def check_even_number(num_list):
    a=[]
    for num in num_list:
        if num%2==0:
            a.append(num)
        else:
            pass
    return a
check_even_number([1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [6]:
#create a function named calculate area that accepts the radius of the circle and returns its are
def calculate_area():
    r=int(input("enter the radius:"))
    area=3.14*r*r
    return "Area of Circle is ",area
calculate_area()

enter the radius:22

('Area of Circle is ', 1519.76)

In [7]:
#create a function named calculate_average that takes a list of numbers as input and return the average of those number
def calculate_average(num_lst):
    return sum(num_lst)/len(num_lst)
calculate_average([1,2,3,4,5])

3.0

In [8]:
#Returning Tuples for unpacking
stock_price=[('AAPL',200),('GODG',300),('MSFT',400)]
for item in stock_price:
    print(item)

('AAPL', 200)
('GODG', 300)
('MSFT', 400)

In [9]:
#print Employee of the month 
work_hours=[('Karan',100),('puneet',400),('Simran',800)]

def EOTM(work_hours):

    current_max= 0
    employee_of_the_month=''
    for employee,hours in work_hours:
        if hours > current_max:
            current_max=hours
            employee_of_the_month=employee
        else:
            pass
        return hours
EOTM(work_hours)

100

In [10]:
#Python Recursion
def factorial(num):
    if (num==1 or num==0):
        return 1
    else:
        return(num*factorial(num-1))
num=7

print("factorial is : ",factorial(num))

factorial is :  5040

In [11]:
#write a recursive function called sum_digits that takes an integer as input and return the addition of its digit
def sum_digit(a):
    if a<10:
        return a
    else:
        b=a%10
        c=a//10
        return b + sum_digit(c)
a=int(input("Enter a number"))
sum_digit(a)

Enter a number22

4

In [12]:
#Write a  recursive function if length of the list is less than 1 print the list else
def reverse_list(lst):
    if len(lst)<=1:
        return lst
    else:
        return reverse_list(lst[1:])+[lst[0]]
t=[1,2,3,4]
reverse_list(t)

[4, 3, 2, 1]

In [13]:
#lambda expression
lambda var:var*2
t=lambda var:var*2
t(5)

10

In [14]:
#Python Lambda Function with List Comprehension
even =[lambda x:x *10 for x in range(1,5)]
for i in even:
    print(i(2))

20
20
20
20

In [15]:
#Lambda function to find the number is divisible by 3
p=lambda var:var%3==0
p(5)

False

In [16]:
#Lambda function with if else
x=lambda a,b : a if(a>b) else b
print(x(10,15))

15

In [17]:
#Map 
def times(a):
    return a*2
seq=[1,2,3,4,5]
map(times,seq)
list(map(times,seq))

[2, 4, 6, 8, 10]

In [18]:
#With Lambda
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [19]:
#filter out the even number from the list
li=[5,7,22,97,54,62,77,23,73,61]
t=lambda x:(x%2!=0)
m=filter(t,li)
f=list(m)
print(f)

[5, 7, 97, 77, 23, 73, 61]

In [20]:
list(filter(lambda x:(x%2!=0),li))

[5, 7, 97, 77, 23, 73, 61]

In [21]:
list(map(lambda x:(x%2!=0),li))

[True, True, False, True, False, False, True, True, True, True]

In [22]:
a=[13,90,17,59,21,60,5]
list(filter(lambda a:(a>18),a))

[90, 59, 21, 60]

In [23]:
#import math module
import math
print(math.pi)
print("sin(0)=", math.sin(0))
print("cos(30)=", math.cos(math.pi/6))
print("tanh(45)=", math.tanh(math.pi/4))

3.141592653589793
sin(0)= 0.0
cos(30)= 0.8660254037844387
tanh(45)= 0.6557942026326724

In [24]:
#Math MOdule
import math
list1=dir(math)
print(list1)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [27]:
import math
a=int(input("Enter the Number "))
print("Square Root is",math.sqrt(a))

Enter the Number 22
Square Root is 4.69041575982343

In [28]:
import datetime as dt
x=dt.datetime.now()
print(x)

2024-03-03 18:59:33.307112

In [161]:
x=dt.datetime(2023,6,5)
print(x.strftime("%a"))
print(x.strftime("%Y"))
print(x.strftime("%m"))

Mon
2023
06

In [29]:
#Random Module
import random
names=["piyush","Karan","Rishav","Kartik"]
c=random.choice(names)
c

'piyush'

In [30]:
lst1=dir(random)
print(lst1)

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_BuiltinMethodType', '_MethodType', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_itertools', '_log', '_os', '_pi', '_random', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [31]:
k=random.randint(0,100)
k

40

In [32]:
q="expression"
word = random.sample(q, len(q))
word

['r', 'o', 'e', 'e', 'p', 's', 'n', 's', 'i', 'x']

In [33]:
#Creating and using module
import module

In [34]:
lst1=dir(module)
lst1

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'cube',
 'square',
 'sub']

In [35]:
import module
num1=int(input("First number"))
num2=int(input("Second number"))
print("Add", module.add(num1, num2))
print("sub", module.sub(num1, num2))
print("Square", module.square(num1))
print("Cube", module.cube(num1))

First number22
Second number33
Add 55
sub -11
Square 484
Cube 10648