LIST AND TUPLE

In [1]:
#List and Tupple
L=[]

In [2]:
type(L)

list

In [3]:
L = [1,"a","string",1+2,1.1,1+2j]

In [4]:
L

[1, 'a', 'string', 3, 1.1, (1+2j)]

In [5]:
L.append(9)

In [6]:
L.pop()
L

[1, 'a', 'string', 3, 1.1, (1+2j)]

In [7]:
L.pop(2)
L

[1, 'a', 3, 1.1, (1+2j)]

In [8]:
del L[2]
L

[1, 'a', 1.1, (1+2j)]

In [9]:
#Create list of Pizza
#positive Indexing
pizza_type =["small", "Medium","Large"]

In [10]:
pizza_type.insert(4, "Extra Large")
print(pizza_type)

['small', 'Medium', 'Large', 'Extra Large']

In [11]:
#Negative Indexing
print(pizza_type[-1])
print(pizza_type[-3])

Extra Large
Medium

In [12]:
animals = ["cat","dog","bat","mouse","pig","horse","donkey","goat","cow"]
print(animals[3:7])
print(animals[-7:-2])

['mouse', 'pig', 'horse', 'donkey']
['bat', 'mouse', 'pig', 'horse', 'donkey']

In [13]:
print(animals[::2])
print(animals[-8:-1:2])

['cat', 'bat', 'pig', 'donkey', 'cow']
['dog', 'mouse', 'horse', 'goat']

In [14]:
print(animals[::3])
print(animals[0:8:3])

['cat', 'mouse', 'donkey']
['cat', 'mouse', 'donkey']

In [15]:
#Add a list to a list
colors=["voilet","Indigo","Blue"]
rainbow=["green","yellow","orange","red"]
colors.extend(rainbow)
print(colors)

['voilet', 'Indigo', 'Blue', 'green', 'yellow', 'orange', 'red']

In [16]:
color1=["voilet","indigo","blue","green"]
color2=["yellow","orange","Red"]
print(color1+color2)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'Red']

In [17]:
#By Remove method to del item by item name
color1.remove("blue")
print(color1)

['voilet', 'indigo', 'green']

In [18]:
#By del method to delete item by index 
del color1[0]
print(color1)

['indigo', 'green']

In [19]:
#Clear List
color=["voilet","indigo","blue","green"]
color.clear()
print(color)

[]

In [20]:
#Change/replace item in the list
names =["Aayush","Rohit","Suraj","Piyush"]
names[0]="Puneet"
print(names)

['Puneet', 'Rohit', 'Suraj', 'Piyush']

In [21]:
#Reverse
names.reverse()
print(names)

['Piyush', 'Suraj', 'Rohit', 'Puneet']

In [22]:
#Sorting of list
names.sort()

In [23]:
print(names)

['Piyush', 'Puneet', 'Rohit', 'Suraj']

In [24]:
'Piyush' in names

True

In [25]:
m=[0,1,2]
n=[4,5,6]
o=[7,8,9]
Matrix=[m,n,o]
print(Matrix)

[[0, 1, 2], [4, 5, 6], [7, 8, 9]]

In [26]:
Matrix[0:2]

[[0, 1, 2], [4, 5, 6]]

In [27]:
Matrix[0][2]

2

In [29]:
#create a list named my_list
my_list=[1,2,3,4,5]

In [30]:
#Acess element position 1 and 4
my_list[0:5:3]

[1, 4]

In [31]:
#get the element of the list 
my_list1=[1,2,3,4,5]
my_list1[1:4]

[2, 3, 4]

In [32]:
#Remove 3 form the list
my_list2=[1,2,3,4,5]
del my_list2[2]
print( my_list2)

[1, 2, 4, 5]

In [33]:
#length of the Element
my_list3=[1,2,3,4,5]
len(my_list3)

5

In [46]:
#TUPLE

In [35]:
t=()
type(t)

tuple

In [36]:
t=(1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [37]:
t[:3]

(1, 2, 3)

In [38]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

In [39]:
a=('a','b',1,3,'e')
print(a)

('a', 'b', 1, 3, 'e')

In [40]:
animals = ("cat","dog","bat","mouse","pig","horse","donkey","goat","cow")
print(animals[::2])

('cat', 'bat', 'pig', 'donkey', 'cow')

In [41]:
print(animals[2:6])

('bat', 'mouse', 'pig', 'horse')

In [47]:
#concatenate tuple
a=('a','b','c')
b=('c','d','e')
c=a+b
print(c)

('a', 'b', 'c', 'c', 'd', 'e')

In [48]:
#Unpack Tupple 
info=("Roht",21)

In [49]:
#Unpack Tupple
info=("Rohit",40,"RGGDC Kotshera")
(name,age,university)=info
print("Name:",name)
print("age",age)
print("studied at",university)

Name: Rohit
age 40
studied at RGGDC Kotshera

In [50]:
#what if we have more number of items then the variable
pets=("cats","Dog","horse","pig","parrot","gold fish")
(*x,y,z)=pets
print("Animals",x)
print("Birds",y)
print("fish",z)

Animals ['cats', 'Dog', 'horse', 'pig']
Birds parrot
fish gold fish

In [51]:
#convert tuple to a list
my_detail=list(info)
print(my_detail)

['Rohit', 40, 'RGGDC Kotshera']

In [52]:
#replace first element with new
my_detail[0]="new"
print(my_detail)

['new', 40, 'RGGDC Kotshera']

In [53]:
#use index to enter a value and return a value 
info=("Rohit",21,"Kotshera")
info.index(21)

1

In [54]:
t=(1,2,3,4,5,6)
t.count(1)

1

In [55]:
#Question No.1
t=(1,'Piyush',30,'data',9,'Data',9,'Dance')
print(t)

(1, 'Piyush', 30, 'data', 9, 'Data', 9, 'Dance')

In [56]:
#Question no.2
t[1:3]

('Piyush', 30)

In [57]:
#Question No.3
list1=list(t)
list1.append('Scientist')
print(list1)

[1, 'Piyush', 30, 'data', 9, 'Data', 9, 'Dance', 'Scientist']

In [58]:
#Question No.4
a=("Data Science",30,3)
(course_name,batch_size,duration)=a
print("Course name :",course_name)
print("Batch_size :",batch_size)
print("Duration :",duration)

Course name : Data Science
Batch_size : 30
Duration : 3

In [59]:
#Question No.5
t[0:4]

(1, 'Piyush', 30, 'data')