Date-5/6/2023

Break,Continue,pass

In [1]:
#Pass
i=1
if i==2:
    pass

In [2]:
#Continue
for i in range(1,10):
    if(i%2 == 0):
        continue
    print(i)

1
3
5
7
9

In [3]:
#Continue
i=1
while(i<=10):
    i=i+1
    if(i%2!=0):
        continue
    print(i)

2
4
6
8
10

In [4]:
#break
i=1
while(i<=10):
    i=i+1
    if(i==5):
        break
    print(i)

2
3
4

In [5]:
for i in range(1,10):
    if(i == 5):
        continue
    print(i)

1
2
3
4
6
7
8
9

In [1]:
#the loop keep asking the user for the number enter q exit the loop
while(True):
    a=input("Enter Number: ")
    if(a=='q'):
        print("Exiting the loop")
        break

Enter Number: 12
Enter Number: 14
Enter Number: 44
Enter Number: 222
Enter Number: 111
Enter Number: q
Exiting the loop

In [3]:
#The loop iterates over the number in the list. if the number is even.the continue
for i in range(1,10):
    if(i%2 == 0):
        continue
    print(i)

1
3
5
7
9

In [4]:
#Use while loop displays the sum of first 5 element of the tupple
t=(1,2,3,4,5,6,7,8)
s=0
for i in t:
    s=s+i
    if(i==5):
        break
print(s)

15

In [5]:
#use for loop to print all the numbers form 0 to 6 except 3 and 6
for i in range(0,6):
    if i%3==0:
        continue
    print(i)

1
2
4
5

In [6]:
#Use while loop displays the sum of first 5 element of the tupple
t=(1,2,3,4,5,6,7,8)
s=0
i=0
c=0
while c<=5:
    s+=t[i]
    i+=1
    c+=1
    if c==5:
        break
print(s)

15

List Comprehension
creating new list from the list ,tupple,dict

In [7]:
for x in 'word':
    print(x)

w
o
r
d

In [78]:
lst=[x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [79]:
#Square number in range and turn into list
t=[x**2 for x in range(0,11)]
t

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
t=[x**2 for x in [x**2 for x in range(0,11)]]
t

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [8]:
#accept item with the small letter "a" in the new list
names=["Suraj","Piyush","Yash","Smriti",'Sidhant']
m=[i for i in names if "a" in i]
print(m)

['Suraj', 'Yash', 'Sidhant']

In [9]:
#accept item with the small letter "a" in the new list
names=("Suraj","Piyush","Yash","Smriti",'Sidhant')
m=[]
for i in names:
    if 'a' in i: 
        m.append(i)
print(m)

['Suraj', 'Yash', 'Sidhant']

In [10]:
# create a list of number from 1 to 100,but only include multiple of 5
b=[a for a in range(0,100,5)]
print (b)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [14]:
# filter out negative number from the list
a=[-2,-1,0,1,2]
b=[i for i in a if i>=0]
b

[0, 1, 2]

In [15]:
#Generate a uppercase character from a string
a="Hello,My course name is Data Science"
b=[x for x in a if x.isupper()]
b

['H', 'M', 'D', 'S']

Function

In [169]:
min(10,20)

10

In [170]:
max(10,20)

20

In [171]:
a=[10,20,30,40]
sum (a)

100

In [172]:
type(a)

list

In [179]:
def a():
    pass

In [181]:
def say_hello():
    print('hello')

In [182]:
say_hello()

hello

In [188]:
def greeting(name):
    print(f'hello {name}')
greeting('Himani')

hello Himani

In [195]:
def hello(name,age):
    print(f'Hello, my name is {name} and age is {age}')
hello('Rohit',21)

Hello, my name is Rohit and age is 21

In [208]:
a=int(input("Enter any number "))
def square(a):
    print(a**2)
square(a)

Enter any number 5
25

Default Argument

In [209]:
def pizza(size, name='Mushroom pizza'):
    print("I like", size, name)
pizza("Regular")

I like Regular Mushroom pizza

In [210]:
def pizza(size, name='Mushroom pizza'):
    print("I like", size, name)
pizza("Regular","Paneer pizza")

I like Regular Paneer pizza

Keyword Arguments

In [211]:
def pizza(size, name='Mushroom pizza'):
    print("I like", size, name)
pizza(size="Regular",name="Paneer pizza")

I like Regular Paneer pizza

Required argument

In [212]:
def pizza(size, name, loc):
    print("i like", size, name, "pizza of" , loc)
pizza("Regular","Mushroom","Dominos")

i like Regular Mushroom pizza of Dominos

Variable Length Arguments

In [213]:
#arbitary Arguments
def pizza(*t):
    print("I like",t[0], t[1], "pizza of", t[2])
pizza("Regular","Mushroom","Dominos")

I like Regular Mushroom pizza of Dominos

In [216]:
#keyword arbitary argument
def pizza(**t):
    print("I like",t["Size"],t["name"],"pizza of", t["loc"])
pizza(Size="Regular",name="Mushroom", loc="Dominos")

I like Regular Mushroom pizza of Dominos

In [12]:
# Multiple argument and print multiplication of numbers
def mult(n):
    print(n*2,n*3)
mult(2)

4 6